services:
  alloy:
#   image: grafana/alloy:latest
    image: grafana/alloy:v1.12.2
    container_name: alloy
#    network_mode: "host" 
    restart: unless-stopped
    ports:
      - "12345:12345"
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - ./snmp.yml:/etc/alloy/snmp.yml:ro  
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    depends_on:
      - prometheus2


  prometheus2:
    image: prom/prometheus:latest
    container_name: prometheus2
    restart: unless-stopped
    ports:
      - "9092:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=7d'
      - '--web.enable-remote-write-receiver'  

volumes:
  prometheus-data:

